<div class="row">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <legend>
    Keywords list
  </legend>
  <div style="padding-left: 30px;">
    <button type="button" id="addRow" class="btn btn-success" ng-click="addRow()">Add Row</button>
    <button type="button" id="saveChanges" class="btn btn-success" ng-click="saveChanges()">Save Changes</button>
  </div>
  <br />
  <div id="serviceGrid"
       ui-grid-move-columns
       ui-grid-selection
       ui-grid-resize-columns

       ui-grid-pinning
       ui-grid-exporter
       ui-grid-auto-resize

       ui-grid-edit
       ui-grid="vm.serviceGrid" class="influxGrid"></div>
</div>
