<div>
  <div class="modal-header">

  </div>
  <div class="modal-body">

    <form name="serviceForm" class="service-modal-form">
      <div class="block">
        <label>Բանալի</label>
        <input class="input" type="text" ng-model="vm.entity.keyword"/>
      </div>
      <div class="block">
        <label>Կատեգորիա</label>
        <select class="input" ng-model="vm.entity.category" ng-options="v.id as v.name for v in [{id: 1, name:'Զինված ուժեր'}, {id: 2, name: 'Ընտրություններ'}]">
          <!--<option value="1" selected>Զինված ուժեր</option>
          <option value="2">Ընտրություններ</option>-->
        </select>
      </div>
      <div class="block">
        <label>Հեղինակ</label>
        <input class="input" type="text" ng-model="vm.entity.author"/>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.save()">Պահպանել</button>
    <button class="btn btn-primary" ng-click="vm.remove()">Ջնջել</button>
    <button class="btn btn-primary" ng-click="$close()">Փակել</button>
  </div>
</div>
